<section class="form-section ff-inter">
    <header class="header">
        <h2>What's on your mind?</h2>
    </header>
    <form action="">
        <label for="pensamento">Thought</label>
        <input
            type="textarea"
            class="input"
            id="pensamento"
            name="pensamento"
            placeholder="Do androids dream of electric sheep?"
        >
        <label for="tag">Add a tag for this thought</label>
        <input
            type="text"
            class="input"
            id="tag"
            name="tag"
            placeholder="Book quote, reminder, nephew's birthday..."
        >
    </form>
</section>